.nav {   
    float:left;
    margin: 1em 1em;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    width: 22%;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}
