@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
font-family: 'Raleway', sans-serif;
}

.ir {
  overflow: hidden;

  text-indent: 100%;
  white-space: nowrap;
}


.img-flex {
  display: block;
  width: 100%;
}

.padding {
    padding: 0.2em; 
}
/*
.nav {   
    float:left;
    margin: 1em 1em;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    width: 22%;
}

*/

.nav-top {
    clear: both; /* forces content content to be placed after a float */
    font-family: 'Raleway', sans-serif;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-top a,
.nav-top a:link,
.nav-topa:visited {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 10%;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

.cover-names {
    font-family: 'Raleway', sans-serif;   
    color: white;
    font-size: 1.5em;
}

.founder {
    float: left;
    height: 250px;
}

.about-background {
    width: 100%;
    height: 250px;
    background-image:url("http://placehold.it/800x400");
    background-size: cover;
    background-repeat:no-repeat;
}

.about-background {
    background-image: url("http://placehold.it/800x400");
    background-position: center;
}

.contact-background {
    width: 100%;
    height: 320px;
    background-image:url("http://placehold.it/800x400");
    background-size: cover;
    background-repeat:no-repeat;
}

.contact-background {
    background-image: url("http://placehold.it/800x400");
    background-position: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

.wrapper {
  margin: 0 auto;
  max-width: 50em;
}

.title {
  margin: 0;

  font-weight: normal;
  text-align: center;
}


.chart {
    position: relative;
}


.chart__item,
.chart__item:link,
.chart__item:visited {
  float: left;
  position: relative;

}

.chart__item:hover,
.chart__item:focus,
.chart__item:active {
    background-color: gray;
    
}

.chart__link,
.chart__link:link,
.chart__link:visited {
  display: block;
  color: black;
}

.chart__label {
  position: absolute;
  width: 100%;

  text-align: center;
}

.chart__bar-wrap {
  bottom: 0;
  position: absolute;
  width: 100%;
}


.chart__bar,
.chart__bar:link,
.chart__bar:visited {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
        
}


.chart__bar:hover,
.chart__bar:focus,
.chart__bar:active {
    background-color: gray;
    transition: all 250ms linear;
}

.chart__count {
  display: inline-block;
  left: -2.3em;
  margin: 0 0 0 50%;
  position: absolute;
    top: 7em;


    transition: all 250ms linear;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0);
    
}

.chart__count::after {
  height: 0;
  left: -8px;
  position: absolute;
  width: 0;
    transition: all 250ms linear;
}

.chart__bar-wrap:hover .chart__count {
    top: 4em;
    color: rgba(255, 255, 255, 1.00);
}
