@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0em;
font-family: 'Raleway', sans-serif;
}

a {
    text-decoration:none;
}

img{
    display:block;
    width:100%;
}

footer {
    padding: 2em;
    color: white;
}

.white {
    color: white;
}

.ir {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}


.img-flex {
  display: block;
  width: 100%;
}

.wrapper {
    max-width: 50em;
    margin: 0 auto;
}

.wrapper2 {
    max-width: 80em;
    margin: 0 auto;
}

.padding {
    padding: 0em; 
}

.nav-top {
    clear: both; /* forces content content to be placed after a float */
    font-family: 'Raleway', sans-serif;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-top a,
.nav-top a:link,
.nav-topa:visited {
    display: inline-block;
    margin: 0;
    padding: 1rem 7%;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

.founder {
    float: left;
    height: 250px;
}

.about-background {
    width: 100%;
    height: 250px;
    background-image:url(../images/home-page-banner.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.about-background {
    background-image:url(../images/home-page-banner.jpg);
    background-position: center;
}

.contact-background {
    width: 100%;
    height: 320px;
    background-image:url("http://placehold.it/800x400");
    background-size: cover;
    background-repeat:no-repeat;
}

.contact-background {
    background-image: url("http://placehold.it/800x400");
    background-position: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

.relative {
    position: relative;
}

.layout-title {
    position: absolute;
    margin-left: 1.4em;
}

.layout-project {
    position: absolute;
    margin-left: 1em;
    top: 1em;
}

.banner {
    width: 100%;
    height: 200px;
    background-image:url(../images/bridgehead-banner.jpg);;
    background-size: cover;
    background-repeat:no-repeat;
    margin-bottom: 1em;
}

.banner {
    background-image:url(../images/bridgehead-banner.jpg);
    background-position: center;
}

.cirque-banner {
    width: 100%;
    height: 200px;
    background-image:url(../images/cirque-du-soleil-banner.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    margin-bottom: 1em;
}

.cirque-banner {
    background-image:url(../images/cirque-du-soleil-banner.jpg);
    background-position: center;
}

.media {
    overflow: hidden;
}

.media-img {
    float: left;
    margin: 0 10px 0 0;
}

.media-body {
    overflow: hidden;
    overflow: hidden;
}

.media-img-reversed {
    float: right;
    margin: 0 0 0 10px
}

.media-img-stacked {
    float: none;
    margin: 0;
}

.padding-bottom {
    padding-bottom: 1em;
}

/*portfolio*/

figure{
    margin:0;
    padding: 0;
}

figcaption {
    margin: 0;
    padding: 0;
}

.card{
    margin:0;
    position:relative;
    overflow:hidden;
}

.card__text{
    background-color: rgba(0,0,0,.50);
    background:cover;
    position:absolute;
    bottom:0;
    width: 95%;
    padding: 1em;
}

@media only screen and (min-width: 55em) {

    .card__text{
        bottom:-4rem;
        opacity: 0;
        transition: all 250ms linear;
    }
    
    .card:hover .card__text {
        opacity:1;
        bottom:0;
    }
    
}   
    